name: ci

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - uses: extractions/setup-just@v2

    - name: yaml-lint
      uses: ibiqlik/action-yamllint@v3

    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - run: |
        corepack enable &&
        corepack install # use the in-repo yarn version
    - uses: actions/setup-node@v4
      with:
        cache: "yarn"

    - run: just build
