name: ci

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
    - uses: extractions/setup-just@v3

    - name: yaml-lint
      uses: ibiqlik/action-yamllint@v3

    - uses: pnpm/action-setup@v4

    - uses: actions/setup-node@v6
      with:
        node-version: 20
        cache: "pnpm"

    - run: just install
    - run: just build
